{% extends 'base.html' %}

{% block main %}
    <h2>Upload your document</h2>
    <form action="{{ url_for('document_upload') }}" method="post" enctype="multipart/form-data">
        {% include 'flash_messages.html' %}
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.document.label }}
            {{ form.document(class="form-control") }}
        </div>

        <button class="btn btn-primary">Upload</button>
    </form>
{% endblock %}